gunicorn
flask
google-cloud-aiplatform
google-cloud-bigquery[pandas]
google-cloud-bigquery-storage
google-cloud-language
google-cloud-pubsub
google-cloud-secret-manager
google-cloud-storage
vertexai>=1.44.0
numpy<2.0
pandas
pandas-ta
db-dtypes
requests
python-dateutil